<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>662180803189-06tn8it3f20bhnnq7u4sdh12bjov9nai.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.662180803189-06tn8it3f20bhnnq7u4sdh12bjov9nai</string>
	<key>API_KEY</key>
	<string>AIzaSyDJdxYolFq0jWK36c7jChEELE5z2_3lO_I</string>
	<key>GCM_SENDER_ID</key>
	<string>662180803189</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>TerraSky.OnlineShopCourse</string>
	<key>PROJECT_ID</key>
	<string>onlineshopcourse-5d7b9</string>
	<key>STORAGE_BUCKET</key>
	<string>onlineshopcourse-5d7b9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:662180803189:ios:3a0acccbf43ec655fdfe3c</string>
</dict>
</plist>